.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  border-bottom: 1px solid #2f459a42;
  box-shadow: rgb(0 0 0 / 14%) 0px 4px 2px 0px,
    rgb(0 0 0 / 12%) 0px 10px 5px 0px;
  background-color: var(--color-primary-variant);
}

.navBlock {
  display: flex;
  justify-content: center;
}

.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: var(--color-white);
  font-size: 20px;
  text-transform: uppercase;
}

.activeLink {
  composes: link;
  color: var(--color-accent);
  text-decoration: underline;
}

.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
