@import 'styles/vars';

.btn {
  position: relative;
  min-width: 64px;
  padding: 6px 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-accent);
  user-select: none;
  vertical-align: middle;

  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.75;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--color-white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;

  @include Animation(box-shadow);

  &:hover,
  &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    font-size: 1.01rem;
  }
}

.btnForm {
  composes: btn;

  padding: 12px 32px;
  font-size: 1.1rem;

  @media screen and (min-width: 1200px) {
    padding: 12px 42px;
  }
}

.btnContact {
  composes: btn;

  width: 100%;
  margin: 0 auto;
  border-radius: 50px;
  border-radius: 6px;
}

.btnNo {
  composes: btn;

  color: var(--color-dark);
  color: #fff;
}
