@import 'styles/vars';

.formWrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 40px 48px 40px;
    border-radius: 6px;
  }
}

.formTitle {
  text-align: center;
  font-size: 24px;
  font-weight: 600;

  line-height: 1.3;
  letter-spacing: 0.03em;

  color: var(--color-white);
  text-shadow: 3px 0px 7px var(--color-dark), -3px 0px 7px var(--color-dark),
    0px 4px 7px var(--color-dark);

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.formImg {
  margin: 0 auto;
}

.formImg img {
  width: 80px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.formInput {
  width: 100%;

  background: transparent;
  border: 2px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  color: var(--color-white);
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;

  @include Animation(background);

  &::placeholder {
    color: var(--color-light);
  }

  @media screen and (min-width: 1200px) {
    padding: 0.5rem;
    border: 3px solid var(--color-primary-variant);
    font-size: 16px;
  }
}

.formTextarea {
  composes: formInput;

  resize: none;
  height: 100px;
}

.label {
  position: relative;
  display: block;
  text-align: left;
  margin-bottom: 30px;
  color: #212121;
}

.label__name {
  display: block;
  margin-bottom: 5px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-white);
}

.formBtn {
  width: 100%;
  padding: 10px 36px;
  margin-top: 20px;

  font-weight: 600;
  letter-spacing: 0.05em;
  border-radius: 0.5rem;

  &:hover,
  &:focus {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  @media screen and (min-width: 1200px) {
    font-size: 1rem;
  }
}

.errorMsg {
  position: absolute;
  margin-top: 1px;
  margin-left: 16px;

  font-size: 11px;
  color: rgb(252, 96, 96);

  @media screen and (min-width: 1200px) {
    margin-left: 32px;
  }
}
