$footerAccentColor: #f8b410;
$footerColor: linear-gradient(
  90deg,
  rgb(45 108 107) 0%,
  rgb(21 51 51) 35%,
  rgb(13 42 42) 100%
);
$footerFont-size: 14px;
$footerFontColor: #fff;

:root {
  --color-bg: #0d031e;

  --color-primary: #067302;
  --color-primary-hover: #067302;
  --color-white: #f0f0f2;
  --color-light: #fdf3e3;
  --color-accent: #d7f205;
  --color-second: #05c7f2;

  --color-bg-variant: #591202;
  --color-primary-variant: #d7f205;

  --color-modalsBG: linear-gradient(180deg, #09a603, #067302 100.21%);
  --bacckground-modals: #18605b;
  --color-modalP: #fdf0e9;

  --transition: all 300ms ease;
  --border-radius: 10px;

  --container-width-mobile: 90%;
  --container-width-desktop: 80%;
}
